/**/
/* Colors reset */
/**/

:root {
  --notblack: #212121;
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --buttonactive: #1085e2;
  --cardoverlay: rgba(33, 150, 243, 0.9);
  --darkgrey: #2f303a;
  --grey: #757575;
  --footericon: rgba(255, 255, 255, 0.1);
  --cream: #ececec;
  --background: rgba(47, 48, 58, 0.4);
  --notwhite: #f5f4fa;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
  --backgroundmodalwindow: rgba(000, 000, 000, 0.2);
  --lightgrey: #e5e5e5;
  --whatwedooverlay: rgba(47, 48, 58, 0.8);
}

/**/
/* Styles reset */
/**/

*:focus {
  outline: none;
}

* h1,
h2,
h3,
h4,
p,
ul,
a,
figure,
figcaption {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

/**/
/* Global styles */
/**/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--white);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-color {
  color: var(--blue);
}

.section {
  padding: 94px 0;
}

button:hover,
button:focus {
  cursor: pointer;
}

.no-padding {
  padding-bottom: 0;
}

img {
  display: block;
}

.hover:hover,
.hover:focus {
  color: var(--blue);
}

.display-row-30-gap-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  padding-bottom: 50px;
}

.links {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/**/
/* Header styles */
/**/

.header-border {
  border-bottom: 1px solid var(--cream);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 15px 25px 15px;
  gap: 93px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
}

.header-lists {
  display: flex;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  align-items: center;
}

.nav-list {
  gap: 46px;
}

.nav-links {
  color: var(--notblack);
  position: relative;
}

.contact-list {
  gap: 30px;
  margin-left: auto;
}

.contact-links {
  color: var(--grey);
}

.icons {
  display: flex;
  align-items: center;
  fill: var(--grey);
  gap: 10px;
}

.icons:hover,
.icons:focus {
  fill: var(--blue);
}

.blue-line::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  bottom: -33px;
  left: 0;
  background-color: var(--blue);
  border-radius: 2px;
  margin: 0;
  width: 100%;
}

/**/
/* index.html Main styles */
/**/

/* Logo & Button styles */

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg), no-repeat;
  width: 100%;
  padding: 200px 453px;
  color: var(--white);
  align-items: center;
}

.header-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  border-style: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--buttonactive);
  cursor: pointer;
}

/* Lorem styles */

.lorem-icons {
  background: var(--notwhite);
  border-radius: 4px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.lorem-header {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--notblack);
  padding-bottom: 10px;
}

.lorem-paagraph {
  line-height: 1.715;
}

/* What-We-Do styles */

.overlay-box {
  position: relative;
}

.overlay {
  color: var(--white);
  font-weight: 700;
  background-color: var(--whatwedooverlay);
  height: 70px;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  padding: 27px 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Our-Team styles */

.our-team-section-background {
  background: var(--notwhite);
}

.our-team-list-background {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-figcaption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  align-items: center;
}

.our-team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--notblack);
}

.our-team-paragraph {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--grey);
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 6px;
}

.social-link {
  width: 44px;
  height: 44px;
  fill: var(--iconcolor);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: var(--white);
  background-color: var(--blue);
}

/* Our-Clients styles */

.our-clients-icons {
  width: 170px;
  height: 92px;
  border: 1px solid var(--iconcolor);
  fill: var(--iconcolor);
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-icons:hover,
.our-clients-icons:focus {
  fill: var(--blue);
  border: 1px solid var(--blue);
}

/**/
/* portfolio.html Main styles */
/**/

.portfolio-buttons-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio-buttons {
  background: var(--notwhite);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--notblack);
  padding: 6px 22px;
  border-style: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--blue);
  color: var(--white);
}

.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.cards-border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 0 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cards-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--notblack);
}

.cards-paragraph {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
}

.item:hover,
.item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.item:hover .card-overlay {
  transform: translatey(0);
}

.card-overlay {
  position: absolute;
  padding: 49px 45px 49px 24px;
  color: var(--white);
  font-size: 18px;
  line-height: 1.556;
  background-color: var(--cardoverlay);
  top: 0;
  left: 0;
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
  width: 100%;
  height: 294px;
}

/**/
/* Footer styles */
/**/

.footer-background {
  background-color: var(--darkgrey);
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 60px 0;
}

.address-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 9px;
  font-style: normal;
}

.footer-logo {
  color: var(--white);
}

.footer-paragraph {
  line-height: 1.715;
  color: var(--white);
}

.footer-links {
  line-height: 1.715;
  color: var(--footerlinks);
}

.footer-header {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white);
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  fill: var(--white);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--footericon);
}

/**/
/* Modal window styles */
/**/

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.back-theme {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--backgroundmodalwindow);
}

.close-modal-window-button {
  top: 8px;
  right: 8px;
  position: absolute;
  background: var(--white);
  border-style: none;
}

.close-modal-window-button-styles {
  fill: var(--black);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-window-button-styles:hover,
.close-modal-window-button-styles:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--white);
  background-color: var(--blue);
}
