:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(0, 0, 0, 0.2);
}

/**/
/* Styles reset */
/**/

* h1,
h2,
h3,
h4,
p,
ul,
a,
figure,
figcaption {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

/**/
/* Global styles */
/**/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hover:hover,
.hover:focus {
  color: var(--blue);
}

img {
  display: block;
}

.section {
  padding: 94px 0;
}

.no-padding {
  padding-bottom: 0;
}

/**/
/* Header styles */
/**/

.header {
  display: flex;
  flex-direction: row;
  gap: 93px;
  padding: 24px 15px 25px 15px;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}

.logo-color {
  color: var(--blue);
}

.header-lists {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  gap: 46px;
}

.nav-links {
  color: var(--notblack);
}

.contact-list {
  gap: 30px;
  margin-left: auto;
}

.contact-links {
  color: var(--grey);
}

.icons {
  display: flex;
  fill: var(--grey);
  align-items: center;
  gap: 10px;
}

.icons:hover,
.icons:focus {
  fill: var(--blue);
}

.button:hover,
.button:focus {
  cursor: pointer;
}

/**/
/* index.html Main styles */
/**/

/* Logo & Button styles */

.logo-container {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg) no-repeat;
  padding: 200px 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-blend-mode: difference;
  background-position: center;
  color: var(--white);
  width: 1600px;
  border-top: 1px solid var(--lightcream);
}

.header-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  border-style: none;
}

/* Lorem styles */

/* Our-Team styles */

/* Our-Clients styles */

/**/
/* portfolio.html Main styles */
/**/

/**/
/* Footer styles */
/**/

/* Modal window styles */

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-style: none;
  background-color: var(--white);
}

.modal-window-button {
  width: 30px;
  height: 30px;
  fill: var(--black);
  border-radius: 50%;
  border: 1px solid #0000001a;
}

.modal-window-button:hover,
.modal-window-button:focus {
  fill: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: var(--backgroundbackdrop);
}
