/**/
/* Colors reset */
/**/

:root {
  --notblack: #212121;
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --footericon: rgba(255, 255, 255, 0.1);
  --cream: #ececec;
  --background: rgba(47, 48, 58, 0.4);
  --notwhite: #f5f4fa;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
  --lightgrey: #e5e5e5;
}

/**/
/* Styles reset */
/**/

*:focus {
  outline: none;
}

* h1,
h2,
h3,
h4,
p,
ul,
a,
figure,
figcaption {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

/**/
/* Global styles */
/**/

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--white);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-color {
  color: var(--blue);
}

.section {
  padding: 94px 0;
}

button:hover,
button:focus {
  cursor: pointer;
}

.no-padding {
  padding-bottom: 0;
}

img {
  display: block;
}

.hover:hover,
.hover:focus {
  color: var(--blue);
}

/**/
/* Header styles */
/**/

.header-border {
  border-bottom: 1px solid var(--cream);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 15px 25px 15px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--black);
}

.header-lists {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  align-items: center;
}

.nav-links {
  color: var(--notblack);
}

.contact-links {
  color: var(--grey);
}

.icons {
  display: flex;
  align-items: center;
  fill: var(--grey);
  gap: 10px;
}

.blue-line::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  content: "";
  display: block;
  transform: translateY(29px);
}

/**/
/* index.html Main styles */
/**/

/* Logo & Button styles */

/* Lorem styles */

/* What-We-Do styles */

/* Our-Team styles */

/* Our-Clients styles */

/**/
/* portfolio.html Main styles */
/**/

/**/
/* Footer styles */
/**/
